// Footer
footer.footer.py-4
  .container
    .row.align-items-center
      .col-lg-4.text-lg-left Copyright &copy; RedBicicleta2020
      .col-lg-4.my-3.my-lg-0
        a.btn.btn-dark.btn-social.mx-2(href='#!')
          i.fab.fa-twitter
        a.btn.btn-dark.btn-social.mx-2(href='#!')
          i.fab.fa-facebook-f
        a.btn.btn-dark.btn-social.mx-2(href='#!')
          i.fab.fa-linkedin-in
      .col-lg-4.text-lg-right
        a.mr-3(href='#!') Politica de privacidad
        a(href='#!') Terminos y condiciones
