extends layout
block titulo  
   title Red Bicicletas - Inicio
block content
  include ./navigation/navIndex
  include ./index/header
  include ./index/services
  include ./index/about
  block scripts
    script(src='/javascripts/scripts.js')
