extends ../layout
block titulo
     title Red Bicicletas - Crear Bicicleta
//- Es necesario la identacion para que se renderice la etiqueta
block navigation
    include ../navigation/nav
block content
    section#table.page-section.bg-light
        .container.bg-white.shadow.p-4
            a.btn.btn-link(href="/bicicletas") Volver
            .text-center
                h2.section-heading.text-uppercase Crear Nueva Bicicleta 
            .row
                .col-12
                    form(action='/bicicletas/create' method='POST')
                        include ./formBicicleta
                        .text-center
                            #success
                            button#sendMessageButton.btn.btn-primary.btn-lg.text-uppercase(type='submit') Crear
