extends ../layout
block titulo
     title Red Bicicletas - Bicicletas
//- Es necesario la identacion para que se renderice la etiqueta
block navigation
    include ../navigation/nav
block content
    section#table.page-section.bg-light
        .container.bg-white.shadow.p-4
            a.btn.btn-lg.btn-dark.m-2(href="/bicicletas/create") + Nueva Bicicleta
            .text-center
                h2.section-heading.text-uppercase Bicicletas
                h3.section-subheading.text-muted La siguiente tabla muestra informacion de las bicicletas registradas
            .row
                .col-12
                    table.table
                        thead.thead-dark 
                            tr  
                                th(scope='col') #
                                th(scope='col') Color
                                th(scope='col') Modelo
                                th(scope='col') Ubicacion
                                th(scope='col' colspan=2) Accion
                        tbody   
                            each bici in bicis  
                                tr  
                                    th(scope='row')= bici.id
                                    td= bici.color
                                    td= bici.modelo
                                    td= bici.ubicacion
                                    td
                                        //-EDITAR
                                        a.btn.btn-success.text-uppercase(href='/bicicletas/'+bici.id+'/update')
                                            i.fas.fa-edit.mr-1
                                            | Editar
                                    td
                                        //-ELIMINAR
                                        form.inline(method='POST' action='/bicicletas/'+bici.id+'/delete')
                                            input(type='hidden' name='id' value=bici.id)
                                            button.btn.btn-danger.text-uppercase(type='submit' name='submit_param' value='submit_value')
                                                i.fas.fa-trash.mr-1 
                                                | Borrar
    include ../maps                                                