extends ../layout
block titulo
     title Red Bicicletas - Crear Bicicleta
//- Es necesario la identacion para que se renderice la etiqueta
block navigation
    include ../navigation/nav
block content
    section#table.page-section.bg-light
        .container.bg-white.shadow.p-4
            a.btn.btn-link(href="/bicicletas") Volver
            .text-center
                h2.section-heading.text-uppercase Modificar Bicicleta 
            .row
                .col-12
                    form(action=`/bicicletas/${bici.id}/update` method='POST')
                        .row.align-items-stretch.mb-5
                            .col-md-4
                                .form-group
                                    input#id.form-control(name='id' value=bici.id type='text' placeholder='Tu id *' required='required' data-validation-required-message='Porfavor ingrese su id.')
                                    p.help-block.text-danger
                            .col-md-4
                                .form-group
                                    input#color.form-control(name='color' value=bici.color type='text' placeholder='Tu color *' required='required' data-validation-required-message='Por favor ingrese su color.')
                                    p.help-block.text-danger
                            .col-md-4
                                .form-group.mb-md-0
                                    input#modelo.form-control(name='modelo' value=bici.modelo type='text' placeholder='Tu modelo *' required='required' data-validation-required-message='Por favor ingrese su modelo.')
                                    p.help-block.text-danger
                            .col-md-6
                                .form-group.mb-md-0
                                    input#lat.form-control(name='lat' value=bici.ubicacion[0] type='text' placeholder='Tu latitud del mapa *' required='required' data-validation-required-message='Porfavor ingrese una latitud del mapa.')
                                    p.help-block.text-danger
                            .col-md-6
                                .form-group.mb-md-0
                                    input#lng.form-control(name='lng' value=bici.ubicacion[1] type='text' placeholder='Tu longitud del mapa *' required='required' data-validation-required-message='Porfavor ingrese una longitud del mapa.')
                                    p.help-block.text-danger
                        .text-center 
                            #success
                            button#sendMessageButton.btn.btn-primary.btn-lg.text-uppercase(type='submit') Actualizar
